<!DOCTYPE html>
<html>
 <head>
   <link rel ="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class= "con">
  <div class ="nav">
  <h1>Dineo Phala</h1>
  
  <a href="#"><i class= "fa fa-envelope"></i></a>
  <a href ="#"><i class= "fa fa-user"></i></a>
  <a href ="#"><i class= "fa fa-phone"></i></a><br />

  <h3>User Interface/User Experience</h3>
  <div class ="row">
    Developer's Portfolio
  </div>
  </div>

<div class ="container">
  <div class ="image">
  <img src = "https://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/woman-curly-haired-medium-dark-skin-tone.png">
  </div>
  <div class ="about">
  <h3>About Me</h3>
  <p>Web developer and designer from CodeTribe Academy, SA.I create custom websites to help businesses do better online </p>
  </div>
</div>
<div class ="links">
<a href="#">Projects</a>
<a href ="#">Blog</a>
</div>

<div class="footer">
<i class ="fa fa-twitter"></i>
<i class="fa fa-facebook"></i>
<i class ="fa fa-whatsapp"></i>

</div>
</div>
</body>
</html>